.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  font-family: 'Roboto';
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0f172a;
  font-weight: bold;
}

.counter {
  color: #334155;
  font-size: 30px;
  font-family: 'Roboto';
  padding-top: 10px;
}

.btn {
  color: #334155;
  height: 45px;
  width: 180px;
  font-family: 'roboto';
  border: 0px;
  border-radius: 9px;
}

.para {
  color: #1e293b;
}
